<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/bootstrap.css.map')}}">
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/bootstrap-theme.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/bootstrap-theme.css.map')}}">
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/jquery-ui.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/jquery-ui.structure.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/jquery-ui.theme.min.css')}}">
 <link rel="stylesheet" href="http://demo.hongkiat.com/jquery-ui-sortable/style.css">



        <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/jquery-ui.min.js')}}"></script>
        
    </head>
    <body>
        <div class="wrapper">
            {% block contenido %}
            {% endblock %}
        </div>
    </body>
</html>