{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('admin_calce') }}">
        Calce
    </a>
{% endblock %}
{% block hijo %} 
    <a href="{{ path('admin_calce') }}">
        Listar   Calce
    </a>
{% endblock %}

{% block cuerpoadmin %}

    <h1>Editar Calce</h1>

    {{ form(edit_form) }}

    <!-- Tabla con fotos -->
    <table id="fotoCalce">
        <thead>
        <th>Fotos: </th>
    </thead>
    <tbody>
        {% if entity.fotocalce %}
            {% set foto = entity.fotocalce %}
            {% for foto in foto %}
                <tr id="foto-{{foto.id}}">
                    <td>
                        <img src="../../../calce/{{entity.id}}/{{foto.url}}" width="100" height="100"/>
                        <br>
                        <br>
                        <br>
                        <a id="fotoCalce-{{foto.id}}" class="eliminar">
                            <button class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}    
        {% endif %}

    </tbody>
    </table>
    <!-- Tabla con fotos -->
    <!-- Formulario Action elimina foto Campania. -->
    <form id="formEliminaFotoCalce" action="{{path('admin_elminaFotoCalce')}}"></form>
    <!-- Formulario Action elimina foto Campania. -->
 <!-- js Elimina Calce -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#fotoCalce").on('click', '.eliminar', function(){
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                $.ajax({
                    type: "POST",
                    url: $('#formEliminaFotoCalce').attr('action'),
                    dataType: "text",
                    data: myData,
                    success: function(response) {
                      $('#foto-' + DbNumberID).hide('slow');

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
            });
        });
    </script>
    <!-- js Elimina Calce -->
{% endblock %}
