{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('admin_calce') }}">
        Listar   Calce
    </a>
{% endblock %}
{% block hijo %} 
    <a href="{{ path('admin_calce_new') }}">
        Crear Calce
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Listar Calce</h1>

    <table class="hero-unit" id="tablaCalce">
        <thead>
            <tr>
                <th width="20%" >Nombre</th>
                <th width="20%" >Foto</th>
                <th width="20%" >Editar</th>
                <th width="20%" >Eliminar</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>
                        {% if entity.fotocalce %}
                            {% set foto = entity.fotocalce %}
                            {% for foto in foto %}
                                <img src="../../calce/{{entity.id}}/{{foto.url}}" height="100" width="100">
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_calce_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"  href="{{path('admin_eliminarCalce', { 'id': entity.id } )}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#tablaCalce').dataTable()
                    .columnFilter({sPlaceHolder: "head:after",
                        aoColumns: [
                            {type: "text"},
                            {type: "text"},
                            {type: "text"},
                            {type: "text"}
                        ]
                    });
        });
    </script>
    <!-- Mostrar mensajes. -->
    {% for flashMessage in app.session.flashbag.get('eliminacalce') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}")
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mostrar mensajes. -->
{% endblock %}
