{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('admin_calce') }}">
             Calce
        </a>
{% endblock %}
{% block hijo %} 
        <a href="{{ path('admin_calce') }}">
             Listar   Calce
        </a>
{% endblock %}

{% block cuerpoadmin %}

    <h1> Crear Calce: </h1>

    {{ form(form) }}
{% endblock %}
