{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('admin_calce') }}">
Listar Calce
        </a>
{% endblock %}
{% block cuerpoadmin %}
    
    <h1>Agregar imagen para Calce / 3005x806px: </h1>
    <br>
    <div id="uploader" style="width:900px;height:200px;margin-top: 80px;">

    </div>


    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('calce')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function() {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
    <script type="text/javascript">

        $('document').ready(function() {

            $(function() {
                $("#uploader").plupload({
                    // General settings


                    runtimes: 'html5,flash',
                    url: "{{path('admin_uploadFotoCalce')}}",
                    max_file_size: '100mb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size: '20mb',
                    autostart: true,
                    rename: true,
                    multiple_queues: true,
                    // Rename files by clicking on their titles
                    rename: true,
                            // Sort files
                            sortable: true,
                    // Specify what files to browse for
                    filters: [
                        {title: "Image files", extensions: "jpg,png,jpeg,PNG,svg"}

                    ],
                    // Flash settings
                    flash_swf_url: "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",
                    // Silverlight settings
                    silverlight_xap_url: "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                });



                // Client side form validation
                $('#uploader').submit(function(e) {

                    var uploader = $('#uploader').plupload('getUploader');



                    // Files in queue upload them first
                    if (uploader.files.length > 0) {
                        // When all files are uploaded submit form
                        uploader.bind('StateChanged', function() {
                            if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                $('form')[0].submit();

                            }
                        });

                        uploader.start();


                    } else
                        alert('You must at least upload one file.');


                    return false;
                });


            });

        });


    </script>
{% endblock %}
