{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('slider') }}">
                Slider
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('slider_new') }}">
                Agregar Slider
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Editar Slider</h1>

    {{ form(edit_form) }}
    
     <!-- Tabla con fotos -->
    <table id="fotoSlider">
        <thead>
            <th>Fotos: </th>
        </thead>
        <tbody>
                {% if entity.fotoslider %}
                    {% set fotos = entity.fotoslider %}
                    {% for foto in fotos %}
                    <tr id="foto-{{foto.id}}">
                        <td>


                            <img src="{{ web_image("slider/"~entity.id~"/"~foto.url).resize('20%')  }}" width="100" height="100"/>
                            <br>
                            <br>
                            <br>
                            <a id="fotoSlider-{{foto.id}}" class="eliminar">
                                <button class="btn btn-danger">Eliminar</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}    
                {% endif %}
           
        </tbody>
    </table>
    <!-- Tabla con fotos -->
        <!-- Formulario Action elimina foto Campania. -->
    <form id="formEliminaFotoSlider" action="{{path('slider_elminaFotoSlider')}}"></form>
    <!-- Formulario Action elimina foto Campania. -->
    <!-- js Elimina producto -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#fotoSlider").on('click', '.eliminar', function(){
                
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                $.ajax({
                    type: "POST",
                    url: $('#formEliminaFotoSlider').attr('action'),
                    dataType: "text",
                    data: myData,
                    success: function(response) {
                      $('#foto-' + DbNumberID).hide('slow');;

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
                
            });
        });
    </script>
    <!-- js Elimina producto -->
{% endblock %}
