{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('slider') }}">
        Slider
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('slider_new') }}">
        Agregar Slider
    </a>
{% endblock %}
{% block cuerpoadmin %}


    <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/jquery-ui.structure.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/mediadivtest/css/jquery-ui.theme.min.css')}}">
    <link rel="stylesheet" href="http://demo.hongkiat.com/jquery-ui-sortable/style.css">



    <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/jquery-ui.min.js')}}"></script>

    <script>
        $(document).ready(function () {


           

            $("#itemsort").sortable({
                update: function () {
                    var nuevoOrden = [];
                    var pos = 0;
                    $("#itemsort tr").each(function () {
                        pos++;

                        var lista = {};
                        var id = $(this).attr("id");
                        lista.id = id;
                        lista.orden = pos;
                        nuevoOrden.push(lista);

                    });



                     $.post("{{path('updateListaSlider')}}",
                            {'nuevoOrden': nuevoOrden},
                    function (data) {
                        alertify.success('posicion guardada');
                    }
                    );
                }
            });
        });
    </script>


    <h1>Lista  Slider</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Orden</th>
                <th>Id</th>
                <th>Titulo</th>
                <th>Texto1</th>
                <th>Fechaingreso</th>
                <th>Foto</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th></th>
            </tr>
        </thead>
        <form id="itemlist">
            <tbody id="itemsort">
                {% for entity in entities %}
                    <tr id="{{ entity.id }}" class="ui-state-default" style="height: 100px;">
                        <td>{{ entity.orden }}</td>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.titulo }}</td>
                        <td>{{ entity.texto1 }}</td>
                        <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            {% if entity.fotoslider %}
                                {% set foto = entity.fotoslider %}
                                {% for foto in foto %}


                                    <img src="{{ web_image("slider/"~entity.id~"/"~foto.url).resize('20%')  }}" width="100" height="100">
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('slider_edit', { 'id': entity.id }) }}">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{path('slider_eliminarSlider', { 'id': entity.id })}}">Eliminar</a>
                        </td>
                         <td><i class="fa fa-arrows" style="font-size: 20px;color:black;"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </form>
    </table>
    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('slider')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
{% endblock %}
