{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('slider') }}">
                Slider
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('slider_new') }}">
                Agregar Slider
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Crear Slider: </h1>

    {{ form(form) }}

{% endblock %}
