<!doctype html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block Titulo %} Top Underwear | Home {% endblock %}</title>
        <meta name="description" content="{% block Description %} {% endblock %}">
        <meta name="keywords" content="">
        <meta name="author" content="Mediadiv Ltda.">
    
        <link rel="icon" type="image/x-icon" href="{{asset('bundles/mediadivpaginas/images/top.ico')}}"/>
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

        <link href="{{ asset('bundles/mediadivpaginas/css/font-awesome.css')}}" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/mediadivpaginas/assets/css/bootstrap.css')}}" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/mediadivpaginas/style.css')}}" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/mediadivpaginas/css/colors.css')}}" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/mediadivpaginas/css/social-likes_classic.css')}}" rel="stylesheet" media="screen"  />

         <link href="{{ asset('bundles/mediadivpaginas/css/jquery.fancybox.css')}}" rel="stylesheet" media="screen"  />



         
         
        <link href="{{ asset('bundles/mediadivpaginas/layerslider/css/layerslider.css')}}" rel="stylesheet" media="screen"  />


  

 <link rel="icon" type="image/x-icon" href="{{asset('bundles/mediadivpaginas/images/top.ico')}}"/>

      


<style type="text/css">
    .icon-nov {
    height: 49px;
    width: 116px;
    z-index: 999999999;
    position: absolute;
    left: 30px;
}
</style>




        <!-- http://www.456bereastreet.com/archive/201209/tell_css_that_javascript_is_available_asap/ -->
        <script>
            document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');
        </script>
        <!-- Support for HTML5 -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Enable media queries on older browsers -->
        <!--[if lt IE 9]>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->






        {% javascripts

 '@MediadivpaginasBundle/Resources/public/js/modernizr.js'  %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
    </head>
    <body>
        <!-- header -->
        {% include "MediadivpaginasBundle:layers:header.html.twig" %}
        <!-- header -->
        {% block contenedor %}


        {% endblock %}
        <!-- footer -->
        {% include "MediadivpaginasBundle:layers:footer.html.twig" %}
        <!-- footer -->
        <!-- Main Scripts-->

    <!-- Initializing the slider -->

            {% javascripts

'@MediadivpaginasBundle/Resources/public/assets/js/jquery.js' 
'@MediadivpaginasBundle/Resources/public/js/jquery.fancybox.js' 
'@MediadivpaginasBundle/Resources/public/js/jquery.fancybox.pack.js' 
'@MediadivpaginasBundle/Resources/public/assets/js/bootstrap.min.js' 
'@MediadivpaginasBundle/Resources/public/assets/js/jquery.unveilEffects.js' 
'@MediadivpaginasBundle/Resources/public/js/retina-1.1.0.js' 
'@MediadivpaginasBundle/Resources/public/js/jquery.hoverdir.js' 
'@MediadivpaginasBundle/Resources/public/js/jetmenu.js' 
'@MediadivpaginasBundle/Resources/public/js/jquery.hoverex.min.js' 
'@MediadivpaginasBundle/Resources/public/js/jquery.prettyPhoto.js' 
'@MediadivpaginasBundle/Resources/public/js/jquery.jigowatt.js' 
'@MediadivpaginasBundle/Resources/public/js/custom.js' 
'@MediadivpaginasBundle/Resources/public/js/social-likes.min.js' 
'@MediadivpaginasBundle/Resources/public/layerslider/js/greensock.js' 
'@MediadivpaginasBundle/Resources/public/layerslider/js/greensock.js' 
'@MediadivpaginasBundle/Resources/public/layerslider/js/layerslider.transitions.js' 
'@MediadivpaginasBundle/Resources/public/layerslider/js/layerslider.kreaturamedia.jquery.js' 
'@MediadivpaginasBundle/Resources/public/js/owl.carousel.js' 

  
  %}
      <script src="{{ asset_url }}"></script>

      {% endjavascripts %}



  
    
    
        {% javascripts

'@MediadivpaginasBundle/Resources/public/js/jquery.mb.YTPlayer.js' 

        %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}

  
       
    {% block javascriptPaginas %}
      

    {% endblock %}


<script>
        $('document').ready(function(){


            $("#logMediadiv").hover(function(){
   $('#logMediadiv').addClass('animated tada');
  },function(){
  $('#logMediadiv').addClass('animated tada');
});


         

        });

</script>





<script>
    $(document).ready(function(){

    $("a#fancyBoxLink").fancybox({
        'href'   : '#myDivID',
        'titleShow'  : false,
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic'
    });

$('#fancyBoxLink')[0].click();

    });

</script>


    </body>
</html>