    <footer class="footer">
            <div class="copyrights">
            <div class="container">
                <div class="col-lg-5 col-md-5 col-sm-5 text-left">
                    <p>Copyright © 2014 - Todos los derechos reservados TOP Underwear.</p><br>
                    <br>
                    <p><a href="http://mediadiv.cl/" target="_blank">Diseñado y Desarrollado por Mediadiv Ltda.</a></p>

                </div><!-- end widget -->
                <div class="col-lg-7 col-md-7 col-sm-7 text-right">
                    <div class="footer-menu right">
                        <ul class="menu">
                            <li><a href="{{path('home_contacto')}}">Contacto</a></li>
                            <li><a href="{{path('home_tiendas')}}">Nuestras Tiendas</a></li>
                    
                        </ul>
                    </div>
                </div><!-- end large-6 -->   
            </div><!-- end container -->
        </div><!-- end copyrights -->




    </footer><!-- end footer -->
