 <div class="topbar clearfix">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                <div class="social_buttons">
                    <a href="https://www.facebook.com/topunderwear" target="_blank" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/topunderwear"  target="_blank" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-twitter"></i></a>
                    <a href="http://instagram.com/topunderwear" target="_blank" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                <div class="callus">
                    <p><span><i class="fa fa-envelope-o"></i> contacto@topwear.cl</span></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end topbar -->



    <header class="header">
        <div class="container">
            <div class="site-header clearfix">
                <div class="col-lg-3 col-md-2 col-sm-12">
                    <div class="site-title" id="title">
                        <a href="{{path('home')}}" title="">
                            <img src="{{asset('bundles/mediadivpaginas/images/logo_top_2.png')}} "  id="logo" alt="">  

                        </a>
                    </div>
                </div><!-- title area -->
                <div class="col-lg-9 col-md-10 col-sm-12">
                   <div id="nav">
                        <div class="container clearfix">
                        <ul id="jetmenu" class="jetmenu">
                            <li class="active"><a href="{{path('home')}}">Home</a>
                            </li>
                            
                            

                            <li><a href="#">Productos</a>
                                <ul class="dropdown">
                                
                                   {% for calceMenu in calceMenu %}
                                    <li><a href="{{ path('ListarCalce' ,  { 'id' : calceMenu .id , 'tipo' : 'calce' })}}">{{calceMenu.nombre}}</a>
                                    {% if calceMenu.subcalce %}
                                    {% set sub  = calceMenu.subcalce %}
                                        <ul class="dropdown" > 
                                        {% for sub in sub %}
                                            <li><a href="{{ path('ListarCalce' ,  { 'id' : sub.id , 'tipo' : 'Subcalce' })}}">{{sub.nombre}} </a></li>
                                       {% endfor %}
                                        

                                        {% endif %}
                                        </ul>

                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>



                             <li><a href="#">Líneas</a>
                                <ul class="dropdown">
                                
                                    {% for categorias in categorias %}
                                    <li><a href="{{ path('Categoria' ,  { 'id' : categorias.id })}}">{{categorias.nombre}}</a>
                                    {% if categorias.subcategorias %}
                                    {% set sub  = categorias.subcategorias %}
                                        <ul class="dropdown" > 
                                        {% for sub in sub %}
                                            <li><a href="{{path('home_subCategorias', {'id': sub.id})}}">{{sub.nombre}}{% if sub.novedad == 'novedad' %} <div class="icon-nuevo">NUEVO</div> {% endif %} </a></li>
                                       {% endfor %}
                                        

                                        {% endif %}
                                        </ul>

                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#">Campañas</a>
                                <ul class="dropdown">
                                    {% for campania in campania  %}

                                    {% if campania.tipo != 'video' %}
                                    <li><a href="{{path('home_vistaCampania', {'id': campania.id})}}">{{campania.nombre}}</a></li>

                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{{path('home_tiendas')}}">Nuestras Tiendas</a></li>
                            <li><a href="{{path('home_contacto')}}">Contacto</a>
                            </li>
                        </ul>
                        </div>
                    </div><!-- nav -->   
                </div><!-- title area -->
            </div><!-- site header -->
        </div><!-- end container -->
    </header><!-- end header -->