
{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}
    
{% if calceDetalle  == '' %}
{#{% imresize %}#}
<img src="{{asset('bundles/mediadivpaginas/sliderimages/adminnn.png') }}" width='100'>
{#{% endimresize %}
<img src="{{asset('bundles/mediadivpaginas/sliderimages/adminnn.png') | imresize('small') }}">
#}
       <h2 style="width:200px;height:auto;margin:auto;font-size:14px;">Este Calce no existe </h2>
{% else %}

        <section class="post-wrapper-top">
            <div class="container">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumb">
                        <li><a href="{{path('home')}}">Home</a></li>
                        <li><a href="#">Calce </a></li>
                        <li><a href="">{{ calceDetalle.nombre }}</a> </li>
                    </ul>
                    <h2></h2>
                </div>
            </div>
        </section><!-- end post-wrapper-top -->
        



{% endif %}








          <section class="section1">
            <div class="container">
                <h4 class="title"><i> {{ calceDetalle.nombre }} </i></h4>

     {% set Productos = calceDetalle.productos %}


     {% for  Productos  in Productos  %}           
                <div id="popularposts2" class="owl-carousel recent-blog-items">

 {% set fotoProductos = Productos.fotoproducto %}

                {% set contFotos1 = 0 %}

                {% for fotoProductos in fotoProductos %}
                {% set contFotos = contFotos1 + 1 %}
                {% if contFotos <= 1 %}

                    <div class="recent-blog-item">
                        <div class="blog-media">
                            <div class="he-wrap tpl6 market-item">
                            <a href="{{ path('home_productosSolo' ,  { 'id' : Productos.id })}}">

                                <img src="../producto/{{Productos.id}}/{{fotoProductos.url}}" alt="">



                                {{ web_image("producto/"~Productos.id~"/"~fotoProductos.url).resize('100%')  }}

                           </a>
                            </div><!-- he wrap -->
                        </div>
           
                    </div><!-- recent-blog-item -->
    
          {% endif %}   
           {% endfor %}    
            
  


 </div><!-- recent-portfolio-items -->

                 
          {% endfor %}
       

            </div><!-- end container -->
        </section><!-- end section3 -->



{% block javascriptPaginas %}


<script type="text/javascript">
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
            items : 3,
            lazyLoad : true,
            navigation : false
            });

        });
    </script>



{% endblock %}




{% endblock %}