
{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}
    
    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcrumb">
                        <li><a href="{{path('home')}}">Home</a></li>
                        <li><a href="#">Calce </a></li>
                        <li><a href="">{{ calceDetalle.nombre }}</a> </li>
                    </ul>
                <h2>{{ calceDetalle.nombre }}</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section class="slideshow-wrapper">
        <div id="slider-wrapper">
            <div id="layerslider" style="width:100%;height: 500px;">
             
           {% for  Productos  in productosCalce  %}  
                <div class="ls-slide" data-ls="">

{% set fotoProductos = Productos.fotosliderproducto  %}

                {% set contFotos1 = 0 %}

                {% for fotoProductos in fotoProductos|slice(0, 1)  %}
                
                

                 {% set contFotos = contFotos1 + 1 %}

                <h1 id="contFOTOS">{{contFotos}} </h1>
    
                    <img src="{{ web_image("productoSlider/"~Productos.id~"/"~fotoProductos.url ).resize('100%')  }}" class="ls-bg" alt="Slide background"/>

           
                {% endfor %}    
            
                        <div class="ls-s-1" style="background-color:rgba(255,255,255,0.7); padding:2em; top:20px; left:75%;width:25%; height:80%; border:none;-moz-border-radius-topleft: 15px;-moz-border-radius-topright:15px;-moz-border-radius-bottomleft:15px;-moz-border-radius-bottomright:15px;-webkit-border-top-left-radius:15px;-webkit-border-top-right-radius:15px;-webkit-border-bottom-left-radius:15px;-webkit-border-bottom-right-radius:15px;border-top-left-radius:15px;border-top-right-radius:15px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;">
                           <h4 class="ls-s-1 title" style="">{{ Productos.nombre }}</h4>
                            <h4 class="ls-s-1" style="">Composición</h4>
                             <p class="ls-s-1" style="font:12px;color:#6f6f6f;">{{ Productos.descripcion | raw }}</p>
                             <p class="ls-s-1" style="font:12px;color:#E41E26;">{{Productos.material}}<br>Pack de 2 Unidades<br>Talla {{ Productos.unidadPorPack }}</p>
                             <h4 class="ls-s-1" style="">Cuidado</h4>
                             <p class="ls-s-1" style="font:12px;color:#6f6f6f;">
                                {{ Productos.cuidado | raw  }}
                                </p>
                        </div>
                </div><!-- end slide -->



                {% endfor %}
              
                                
            </div><!-- layer slider -->
        </div><!-- slider wrapper -->
    </section><!-- end slideshow-wrapper -->

        
    <section class="section1">
        <div class="container">
            <h4 class="title">OTROS MODELOS / {{ calceDetalle.nombre }}</h4>
            <div id="popularposts" class="owl-carousel recent-blog-items">
             

            {% for  Productos  in productosCalce  %}  
                {% set fotoProductos = Productos.fotoproducto %}

                
                <div class="recent-blog-item">
                    <div class="blog-media">
                        <div class="he-wrap tpl6 market-item">


                {% set contFotos1 = 0 %}

                {% for fotoProductos in fotoProductos %}
                {% set contFotos = contFotos1 + 1 %}
                {% if contFotos <= 1 %}
    <a href="{{ path('home_productosSolo' ,  { 'id' : Productos.id })}}" target="_parent">
       <img src="{{ web_image("producto/"~Productos.id~"/"~fotoProductos.url ).resize(600,410)  }}" alt="" >  

       </a>

                                 {% endif %}   
                {% endfor %}  

                        </div><!-- he wrap -->
                    </div>
                </div><!-- recent-blog-item -->

           
                {% endfor %}


            </div><!-- recent-portfolio-items -->
        </div><!-- end container -->
    </section><!-- end section3 -->



{% block javascriptPaginas %}

  <script type="text/javascript">
        jQuery("#layerslider").layerSlider({
            pauseOnHover: false,
            autoPlayVideos: false,
            responsive: false,
            responsiveUnder: 1280,
            layersContainer: 1280,
            navButtons: false,
            hoverBottomNav: true,
            navStartStop: false,
            skin: 'v5',
            skinsPath: '{{asset('bundles/mediadivpaginas/layerslider/skins/')}}'

        });
    </script>
<script type="text/javascript">
        $(document).ready(function() {

            $(".owl-carousel").owlCarousel({
            items : '{{contador}}',
            lazyLoad : true,
            navigation : false,
                 items : 3,
            });

        });
    </script>



     


{% endblock %}




{% endblock %}