{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}
    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li><a href="#">Líneas</a></li>
                    <li>Básica</li>
                </ul>
                <h2>BÁSICA</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->
    {% for campania in campania  %}
        <section class="section1">
            <div class="container">
                <h4 class="title"><i>{{campania.nombre}}</i></h4>
                <div id="popularposts" class="owl-carousel recent-blog-items">
                    {% if campania.fotocampania %}
                        {% set fotos = campania.fotocampania %}
                        {% for fotos in fotos %}
                            <div class="recent-blog-item">
                                <div class="blog-media">
                                    <div class="he-wrap tpl6 market-item">
                                        <img src="campanias/{{campania.id}}/{{fotos.url}}" alt="">
                                    </div><!-- he wrap -->
                                </div>
                            </div><!-- recent-blog-item -->
                        {% endfor %}
                    {% endif %}
                </div><!-- recent-portfolio-items -->
            </div><!-- end container -->
        </section><!-- end section3 -->
    {% endfor %}
    {% block javascriptPaginas %}
    <!-- LayerSlider script files -->
    <script src="{{asset('bundles/mediadivpaginas/layerslider/js/greensock.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/mediadivpaginas/layerslider/js/layerslider.transitions.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/mediadivpaginas/layerslider/js/layerslider.kreaturamedia.jquery.js')}}" type="text/javascript"></script>
    <!-- Initializing the slider -->
    <script type="text/javascript">
        jQuery("#layerslider").layerSlider({
            pauseOnHover: false,
            autoPlayVideos: false,
            responsive: false,
            responsiveUnder: 1280,
            layersContainer: 1280,
            navButtons: false,
            hoverBottomNav: true,
            navStartStop: false,
            skin: 'v5',
            skinsPath: 'layerslider/skins/'
        });
    </script>
    
    <script src="{{asset('bundles/mediadivpaginas/js/owl.carousel.js')}}"></script>  
    <script type="text/javascript">
        $(document).ready(function() {
            $("#popularposts, #popularposts2, #popularposts3").owlCarousel({
            items : 3,
            lazyLoad : true,
            navigation : false
            });

        });
    </script>
    
    <script src="{{asset('bundles/mediadivpaginas/js/jquery.animate-enhanced.min.js')}}"></script>
    <script src="{{asset('bundles/mediadivpaginas/js/jquery.easypiechart.min.js')}}"></script>
    <script type="text/javascript">
        $('.chart').easyPieChart({
            easing: 'easeOutBounce',
            size : 200,
            animate : 2000,
            lineWidth : 10,
            lineCap : 'square',
            lineWidth : 19,
            barColor : false,
            trackColor : '#F5F5F5',
            scaleColor : false,
            onStep: function(from, to, percent) {
            $(this.el).find('.percent').text(Math.round(percent)+'%');
            }
        });
    </script>
    
    <script src="{{asset('bundles/mediadivpaginas/js/jquery.isotope.min.js')}}"></script>
    <script type="text/javascript">
        (function($) {
            "use strict";
            var $container = $('.portfolio'),
                $items = $container.find('.portfolio-item'),
                portfolioLayout = 'fitRows';
                
                if( $container.hasClass('portfolio-centered') ) {
                    portfolioLayout = 'masonry';
                }
                        
                $container.isotope({
                    filter: '*',
                    animationEngine: 'best-available',
                    layoutMode: portfolioLayout,
                    animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                },
                masonry: {
                }
                }, refreshWaypoints());
                
                function refreshWaypoints() {
                    setTimeout(function() {
                    }, 1000);   
                }
                        
                $('nav.portfolio-filter ul a').on('click', function() {
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector }, refreshWaypoints());
                        $('nav.portfolio-filter ul a').removeClass('active');
                        $(this).addClass('active');
                        return false;
                });
                
                function getColumnNumber() { 
                    var winWidth = $(window).width(), 
                    columnNumber = 1;
                
                    if (winWidth > 1200) {
                        columnNumber = 5;
                    } else if (winWidth > 950) {
                        columnNumber = 4;
                    } else if (winWidth > 600) {
                        columnNumber = 3;
                    } else if (winWidth > 400) {
                        columnNumber = 2;
                    } else if (winWidth > 250) {
                        columnNumber = 1;
                    }
                        return columnNumber;
                    }       
                    
                    function setColumns() {
                        var winWidth = $(window).width(), 
                        columnNumber = getColumnNumber(), 
                        itemWidth = Math.floor(winWidth / columnNumber);
                        
                        $container.find('.portfolio-item').each(function() { 
                            $(this).css( { 
                            width : itemWidth + 'px' 
                        });
                    });
                }
                
                function setPortfolio() { 
                    setColumns();
                    $container.isotope('reLayout');
                }
                    
                $container.imagesLoaded(function () { 
                    setPortfolio();
                });
                
                $(window).on('resize', function () { 
                setPortfolio();          
            });
        })(jQuery);
    </script>
    
    <script src="{{asset('bundles/mediadivpaginas/js/jquery.mb.YTPlayer.js')}}"></script>    
    <script type="text/javascript">
    $(function(){
      $(".player").mb_YTPlayer();
    });
    </script>
    
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{asset('bundles/mediadivpaginas/js/jquery.gmap.js')}}"></script>
    <script type="text/javascript">
            var mapMarkers = [{             
                address: "Saskatoon, SK S7V 0A4 Canada",
                html: "<strong>We Are ENVATO!</strong><br>Saskatoon, SK S7V 0A4 Canada<br><br><a href='#' onclick='mapCenterAt({latitude: 52.100343, longitude: -106.551482, zoom: 16}, event)'>[+] View Original Map</a>",
                icon: {
                    image: "images/pin.png",
                    iconsize: [100, 100],
                    iconanchor: [64, 45]
                }
            }];
            <!-- select location on here : http://itouchmap.com/latlong.html -->
            var initLatitude = 52.100343;
            var initLongitude = -106.551482;
            var mapSettings = {
                controls: {
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true
                },
                scrollwheel: false,
                markers: mapMarkers,
                latitude: initLatitude,
                longitude: initLongitude,
                zoom: 5
            };
            var map = $("#googlemaps").gMap(mapSettings);
            var mapCenterAt = function(options, e) {
                e.preventDefault();
                $("#googlemaps").gMap("centerAt", options);
            }
        </script>

    {% endblock %}
{% endblock %}