{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}   
    <section class="post-wrapper-top">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li><a href="{{path('home_campania')}}">Campañas</a></li>
                    <li>{{campaniaid.nombre}}</li>
                </ul>
                <h2>{{campaniaid.titulo}}</h2>
            </div>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section>
    {% if campaniaid.fotobackgroundcampania %}
    {% set fotobackground = campaniaid.fotobackgroundcampania  %}
    {% set contador = 0%}
    {% for fotobackground in fotobackground  %}
        {% set contador = contador + 1 %}
        {% if contador <= 1 %}

        
        <div class="wide" style="background-image:url('{{web_image("campaniasBackground/"~campaniaid.id~"/"~fotobackground.url )}}')">
        {% endif %}    
    {% endfor %}
    {% endif %}
        <div class="col-lg-12 col-md-12 col-sm-12 columns text-center">
            <br>
            <h1 class="campania">{{campaniaid.titulo}}</h1>
            <hr class="hr-red">
            <h5 class="campania">{{campaniaid.descripcion | raw  }}</h5>
        </div>
    </div>
        
</section><!-- end section -->

<section class="slideshow-wrapper">
    <div id="slider-wrapper">
        <div id="layerslider" style="width:100%;height: 500px;">
            {% if  campaniaid.fotocampania %}
                {% set foto = campaniaid.fotocampania %}
                    {% for foto in foto %}
                        <div class="ls-slide" data-ls="">
                            <img src="{{ web_image("campanias/"~campaniaid.id~"/"~foto.url ).resize('100%')  }}" class="ls-bg" alt="Slide background"/>
                        </div><!-- end first slide -->
                    {% endfor %}
                    {% endif %}
                    </div><!-- layer slider -->
                </div><!-- slider wrapper -->
            </section><!-- end slideshow-wrapper -->

            {% block javascriptPaginas %}


<script type="text/javascript">
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
            items : 3,
            lazyLoad : true,
            navigation : false
            });

        });
    </script>




      <script type="text/javascript">

        jQuery("#layerslider").layerSlider({
            pauseOnHover: false,
            autoPlayVideos: false,
            responsive: false,
            responsiveUnder: 1280,
            layersContainer: 1280,
            navButtons: false,
            hoverBottomNav: true,
            navStartStop: false,
            skin: 'v5',
            skinsPath: '{{asset('bundles/mediadivpaginas/layerslider/skins/')}}'
        });
    </script>
    



{% endblock %}



            {% endblock %}