{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}
    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li>Contacto</li>
                </ul>
                <h2>CONTACTO</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->
    <section class="section1">
        <div class="container clearfix">
            <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div id="respuesta">
                        {% for flashMessage in app.session.flashbag.get('contacto') %}
                            <div class="flash-notice">
                                <label for="contact-spam-check">{{ flashMessage }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <h4 class="title">Contacto</h4>
                    <!--
                    id="contact" name="contactform"
                    -->
                    <form  class="row" method="post" action="{{path('home_enviarCorreo')}}">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required> 
                            <input type="text" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="email" id="email" class="form-control" placeholder="Email" required> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono" required>
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto" required> 
                        </div>
                        <div class="clearfix"></div>                   
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Tú mensaje ..." required></textarea>
                        </div>   
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pull-right">
                                {#
                                <button id="enviar" class="button small">Enviar</button>
                                #}
                                <input type="submit" value="ENVIAR" class="button small">
                            </div>  
                        </div>

                    </form>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 contactus">
                    <h4 class="title"><i>COMUNÍCATE CON NOSOTROS</i></h4>
                    <p>Contáctate con nosotros pronto te entregaremos una respuesta.</p>
                    <ul class="contact_details">
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:contacto@topwear.cl"> contacto@topwear.cl</a></li>
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@topwear.cl"> info@topwear.cl</a></li>
                        <li><i class="fa fa-phone-square"></i><a href="tel:+56226214600"> +56 2 26 214 600</a></li>
                        <li><i class="fa fa-home"></i> Avda. Einstein 885, Recoleta, Santiago de Chile.</li>
                    </ul><!-- contact_details -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
