<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Envia Correo</title>
    </head>
    <body>
        Nombre: {{nombre}} 
        Correo Electronico: {{correo}}
        Teléfono: {{telefono}}
        Asunto: {{asunto}}
        Mensaje:
        {{mensaje}}
    </body>
</html>