{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}



    <section class="slideshow-wrapper">
        <div id="slider-wrapper">
            <div id="layerslider" style="width:100%; height:450px;">

                {% for slider in slider %} 
                  
                      
                 
                    <div class="ls-slide" data-ls="">

                        {% set Fotoslider = slider.fotoslider %}

                        {% set cont = 0 %}
                        {% for Fotoslider in Fotoslider  |slice(0, 1)%}
                          
                            
                           <img src="{{web_image("slider/"~slider.id~"/"~Fotoslider.url )}}" class="ls-bg" alt="Slide background"/>
                        


                         
                        {% endfor %}
                       
                        
                        <p class="ls-l ls01" style="top:350px; left:850px; position: absolute;">
                            <a class="dmbutton btn btn-primary" href="{{slider.url}}" target="_blank">VER MÁS</a>
                        </p>
                        <!--<p class="ls-l ls02" style=" top:200px; left:100px; font-size:20px; font-weight: 300; color:#ffffff;">Bajada de texto 01</p> -->
                    </div><!-- end first slide -->


                     
                   




                {% endfor %}
                        
        

            </div><!-- layer slider -->
        </div><!-- slider wrapper -->
    </section><!-- end slideshow-wrapper -->
<a href="" style="display:none;" id="fancyBoxLink">Test</a>

     <div id="myDivID" style="display:none" class="fancybox">
        <div>
            <video width="640" height="360" controls>
  <source src="{{ asset('bundles/mediadivpaginas/video/Top_audio.mp4')}}" type="video/mp4">
  <source src="{{ asset('bundles/mediadivpaginas/video/Top_audio.ogv')}}" type="video/ogv">
  Your browser does not support the video tag.
</video>
        </div>


    </div>

    <section class="section3 withpadding">
        <div class="container">
            <h4 class="title">ELIGE TU CALCE</h4>

            {% for calce in calce %}

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="servicebox text-center">
                        <div class="service-icon">
                            {% if calce.novedad == 'novedad' %}
                            <div class="icon-nov"><img src="{{asset('bundles/mediadivpaginas/images/icono_novedad.png')}}"></div>
                        {% endif %}
                            <div data-effect="slide-left">
                                {% set fotoCalce = calce.fotocalce %}
                                {% set cont = 0 %}

                                {% for fotoCalce in fotoCalce %} 
                                    {% set cont = cont +1 %}
                                    {% if cont <= 1 %}


                                        <a href="{{ path('CalceListar' ,  { 'id' : calce.id })}}" class="" target="_parent"><img src="symfony/web/calce/{{calce.id}}/{{fotoCalce.url}}"></a>



                                    {% endif %}        
                                {% endfor %}


                            </div>
                            <div class="servicetitle">
                                <h4>{{ calce.nombre }}</h4>
                                <hr>
                            </div>
                            <p>{{ calce.descripcion }}</p>
                        </div><!-- service-icon -->
                    </div><!-- servicebox -->
                </div><!-- large-3 -->

            {% endfor %}





        </div><!-- end container -->
    </section><!-- end section -->





    <section class="section1">
        <div class="container">
            <h4 class="title">CAMPAÑAS</h4>
            <div id="popularposts" class="owl-carousel recent-blog-items">


                    {% for campania in campania %}

                    {% if campania.tipo == 'fotografias' %}




<div class="recent-blog-item">
                    <div class="blog-media">
                        <div class="he-wrap tpl2">


                                 {% if campania.fotocampaniahome %}
                                 {% set cont = 0 %}
                                 {% set fotoCampaniaHome = campania.fotocampaniahome %}
                                 {% for fotoCampaniaHome in fotoCampaniaHome %}
                                 {% set cont = cont + 1 %}


                            <img alt="" src="{{web_image("campaniashome/"~campania.id~"/"~fotoCampaniaHome.url ).resize('100%')  }}" alt="{{campania.nombre}}">


                          
                            {% endfor %}
                              {% endif %}

                            <div class="he-view">
                                <div class="bg a0"  data-animate="fadeIn">
                                    <div class="center-bar">
                                        <a href="{{ path('home_vistaCampania' ,  { 'id' : campania.id })}}" class="twitter a0" data-animate="elasticInDown"></a>
                                  
                                    </div>
                                </div>
                            </div>
                        </div><!-- he wrap -->
                    </div>
                    <header class="blog-title">
                        
                        <h4 class="title">{{campania.nombre}} </h4>
                        <div class="post-meta">
                            <p>
                            Publicado el: <span class="publish-on">21/01/2014</span> 
                            </p>
                        </div>
                    </header>
                </div><!-- recent-blog-item -->






                  
                {% endif %}



   {% if campania.tipo == 'video' %}


                    <div class="recent-blog-item">
                    <div class="blog-media">
                        <div class="js-video [vimeo, widescreen]">
                            <iframe src="{{campania.url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <header class="blog-title">
                        <h4 class="title">{{campania.nombre}} </h4>
                        <div class="post-meta">
                            <p>
                            Publicado el: <span class="publish-on">{{campania.fechaIngreso | date("m/d/Y")}} </span> 
                            </p>
                        </div>
                    </header>
                </div><!-- recent-blog-item -->


   
   {% endif %}



                {% endfor %}
              
           
                
             
                
            </div><!-- recent-portfolio-items -->
        </div><!-- end container -->
    </section><!-- end section3 -->





{% endblock %}
{% block javascriptPaginas %}

  <script type="text/javascript">
            jQuery("#layerslider").layerSlider({
                pauseOnHover: false,
                autoPlayVideos: false,
                responsive: true,
                responsiveUnder: 1280,
                layersContainer: 1280,
                navButtons: false,
                hoverBottomNav: true,
                navStartStop: false,
                skin: 'v5',
                skinsPath: '{{asset('bundles/mediadivpaginas/layerslider/skins/')}}'
            });
        </script>





        <script type="text/javascript">
        $(document).ready(function() {

         
            $(".owl-carousel").owlCarousel({
            items : 3,
            lazyLoad : true,
            navigation : false
            });

        });
    </script>




{% endblock %}   


