{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}


    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li><a href="#">Producto</a></li>
                    <li>  {{ entidad.nombre  }}</li>
                </ul>
                <h2> </h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->


    <section class="section1">
        <div class="container">
            <h4 class="title"><i>{{ entidad.nombre  }}</i></h4>
            <div id="popularposts" class="owl-carousel recent-blog-items">
            {% if entidad.productos %}
            {% set productos =  entidad.productos %}
            {% for productos in productos %}

            <h4>   {{productos.nombre}} 


            {%  set fotos =  productos.fotoproducto %}
            {% set cont =  0 %}
            {% for fotos in fotos %}
            {% set cont = cont + 1 %}
            {% if cont <= 1 %}

              
                            <div class="recent-blog-item">
                                <div class="blog-media">
                                    <div class="he-wrap tpl6 market-item">

                                    
                                    <a target="_blank" href="{{ path('home_productosSolo' ,  { 'id' : productos.id })}}">

                                        <img src="{{ web_image("producto/"~productos.id~"/"~fotos.url ).resize(600,410)  }}" alt="">


                                        </a>


                                    </div><!-- he wrap -->
                                </div>
                            </div><!-- recent-blog-item -->
              
                    {% endif %}
                    {% endfor %}

                    </h4>
                {% endfor %}

              {% endif %}
            </div><!-- recent-portfolio-items -->
        </div><!-- end container -->
    </section><!-- end section3 -->


    {% block javascriptPaginas %}


        <script type="text/javascript">
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    items: 3,
                    lazyLoad: true,
                    navigation: false
                });

            });
        </script>



    {% endblock %}




{% endblock %}

