{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}       
    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li>Nuestras Tiendas</li>
                </ul>
                <h2>NUESTRAS TIENDAS</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section class="section1">
        <div class="container clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 clearfix">
                {% set contador = 0 %}

                {% for tiendas in tiendas %}
                    <div class="portfolio-centered">
                        {% set contador = contador + 1 %}



                        {% if contador  % 2 != 0  %}
                            <div class="recentitems portfolio">                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="tienda-0">
                                            <a href="{{path('home_detalleTienda', {'id' : tiendas.id})}}">
                                                <img src="{{ web_image("tiendas/tumb/"~tiendas.id~"/"~tiendas.tumb ).resize('100%')  }}" alt="">
                                            </a>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><div  style="background-color: #ebebeb;width: 100%;height: 240px;margin: 0;padding: 0;" id="map-canvas-{{tiendas.id}}"></div></div>

                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                        <div class="nuestras-tiendas">
                                            <h3 class="title-tiendas"><a href="{{path('home_detalleTienda', {'id' : tiendas.id})}}">{{tiendas.sucursal}}</a></h3>
                                            <p>
                                                <small>
                                                    {{tiendas.direccion}}
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        {% elseif contador  % 2 == 0 %}
                            <div class="recentitems portfolio">                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="tienda-0">
                                            <a href="{{path('home_detalleTienda', {'id' : tiendas.id})}}">
                                                <img src="{{ web_image("tiendas/tumb/"~tiendas.id~"/"~tiendas.tumb ).resize('100%')  }}" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><div style="background-color: #ebebeb;width: 100%;height: 240px;margin: 0;padding: 0;"  id="map-canvas-{{tiendas.id}}"></div></div>

                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                        <div class="nuestras-tiendas">
                                            <h3 class="title-tiendas"><a href="{{path('home_detalleTienda', {'id' : tiendas.id})}}">{{tiendas.sucursal}}</a></h3>
                                            <p>
                                                <small>
                                                    {{tiendas.direccion}}
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}




                    {% endfor %}



                </div>         

            </div><!-- portfolio container -->
            <div class="divider"></div>
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}
{% block javascriptPaginas %}
    <!-- LayerSlider script files -->


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>




        {%  for tiendas in tiendas  %}

            var map{{tiendas.id}};
        {% endfor %}

            function initialize() {
        {%  for tiendas in tiendas  %}
                var Latitud{{tiendas.id}} = new google.maps.LatLng({{tiendas.latitud}}, {{tiendas.longitud }});

                var mapOptions{{tiendas.id}} = {
                    zoom: 15,
                    center: Latitud{{tiendas.id}}
                }


                var map{{tiendas.id}} = new google.maps.Map(document.getElementById('map-canvas-{{tiendas.id}}'), mapOptions{{tiendas.id}});

                var marker{{tiendas.id}} = new google.maps.Marker({
                    position: Latitud{{tiendas.id}},
                    map: map{{tiendas.id}},
                    title: '{{tiendas.sucursal}}'
                });

        {% endfor %}



            }







            google.maps.event.addDomListener(window, 'load', initialize);



    </script>

{% endblock %}