{# empty Twig template #}
{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}



    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('home')}}">Home</a></li>
                    <li><a href="#"> {{ producto.subcategorias.categorias.nombre }} </a></li>
                    <li>{{ producto.subcategorias.nombre}} </a></li>

                </ul>
                <h2>{{ producto.nombre }}</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section class="slideshow-wrapper">
        <div id="slider-wrapper">
            <div id="layerslider" style="width:100%;height: 500px;">

                {% set fotoProducto = producto.fotosliderproducto %}

                {% for  fotoProducto in fotoProducto %}





                    <div class="ls-slide" data-ls="">
                        <img src="{{ web_image("productoSlider/"~producto.id~"/"~fotoProducto.url ).resize('100%')  }}" class="ls-bg" alt="Slide background"/>
                       
                        <div class="ls-s-1" id="normal22" style="background-color:rgba(255,255,255,0.7); padding:2em; top:20px; left:75%;width:25%; height:80%; border:none;-moz-border-radius-topleft: 15px;-moz-border-radius-topright:15px;-moz-border-radius-bottomleft:15px;-moz-border-radius-bottomright:15px;-webkit-border-top-left-radius:15px;-webkit-border-top-right-radius:15px;-webkit-border-bottom-left-radius:15px;-webkit-border-bottom-right-radius:15px;border-top-left-radius:15px;border-top-right-radius:15px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;">
                            <h4 class="ls-s-1 title" style="">{{ producto.nombre }}</h4>
                            <h4 class="ls-s-1" style="">Composición</h4>
                            <p class="ls-s-1" style="font:12px;color:#6f6f6f;">{{ producto.descripcion | raw }}</p>
                            <p class="ls-s-1" style="font:12px;color:#E41E26;">{{producto.material}}<br>Pack de {{ producto.unidadPorPack }} Unidades<br>Talla {{ producto.talla}}</p>
                            <h4 class="ls-s-1" style="">Cuidado</h4>
                            <p class="ls-s-1" style="font:12px;color:#6f6f6f;">
                                {{ producto.cuidado | raw  }}
                            </p>
                        </div>
                    </div><!-- end slide -->


                {% endfor %} 


            </div><!-- layer slider -->
        </div><!-- slider wrapper -->
    </section><!-- end slideshow-wrapper -->


     
<section class="section1" id="infoMobil">
        <div class="container">
        <div class="ls-s-2" style="padding:0 5px;">
                            <h4 class="ls-s-2 title">{{ producto.nombre }}</h4>
                            <h4 class="ls-s-2">Composición</h4>
                             <p class="ls-s-2" style="color:#6f6f6f;">{{ producto.descripcion | raw }}</p>
                             <p class="ls-s-2" style="color:#e41e26;">{{ producto.material }} <br>Pack de {{ producto.unidadPorPack }}  Unidades<br>Talla {{ producto.talla}} </p>
                             <h4 class="ls-s-2">Cuidado</h4>
                             <p class="ls-s-2" style="color:#6f6f6f;">
                                 
                                 {{ producto.cuidado | raw  }}


                             </p>
        </div>
        </div>
</section>





    <section class="section1">
        <div class="container">
            <h4 class="title">OTROS MODELOS / {{ subCategoria.nombre }}</h4>
            <div id="popularposts" class="owl-carousel recent-blog-items">







                {% set Productos =  subCategoria.productos %}

                {% for Productos  in Productos %} 

                    {% set fotoProductos = Productos.fotoproducto %}

                    {% set contFotos1 = 0 %}

                    {% for fotoProductos in fotoProductos %}
                        {% set contFotos = contFotos1 + 1  %}

                        {% if contFotos  <= 1  %}



                            <div class="recent-blog-item">
                                <div class="blog-media">
                                    <div class="he-wrap tpl6 market-item">
                                        <a href="{{path('home_productosSolo', {'id': Productos.id})}}" >
                                        <img src="{{ web_image("producto/"~Productos.id~"/"~fotoProductos.url ).resize(600,410)  }}" alt="">
                                        </a>
                                        <!--<div class="he-view">
                                                <div class="bg a0" data-animate="fadeIn">
                                                    <h3 class="a1" data-animate="fadeInDown">COLOR 01</h3>
                                                    <a href="web-03.html" class="dmbutton a2" data-animate="bounceInLeft"><i class="fa fa-search"></i></a>
                                                </div>
                                            </div> he view -->      
                                    </div><!-- he wrap -->
                                </div>
                            </div><!-- recent-blog-item -->

                        {% endif %}
                    {% endfor %}            


                {% endfor %}

            </div><!-- recent-portfolio-items -->
        </div><!-- end container -->
    </section><!-- end section3 -->


    {% block javascriptPaginas %}
        

        <script>

  $(document).ready(function () {

        var dispositivo = navigator.userAgent.toLowerCase();

       
       
      if($.browser.device = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()))){
    
     
        $('.ls-s-1').hide();
        $('.ls-s-2').show();

        }else{
  
         $('.ls-s-1').show();
        $('.ls-s-2').hide();



        }  

     });



        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    items: 3,
                    lazyLoad: true,
                    navigation: false
                });

            });
        </script>


        <script type="text/javascript">
            jQuery("#layerslider").layerSlider({
                pauseOnHover: false,
                autoPlayVideos: false,
                responsive: false,
                responsiveUnder: 1280,
                layersContainer: 1280,
                navButtons: false,
                hoverBottomNav: true,
                navStartStop: false,
                skin: 'v5',
                skinsPath: '{{asset('bundles/mediadivpaginas/layerslider/skins/')}}'

            });
        </script>




    {% endblock %}

{% endblock %}