{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}


    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li><a href="#">Producto</a></li>
                    <li>{{subcategoria.nombre }}</li>
                </ul>
                <h2>{{subcategoria.nombre }}</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->


    <section class="section1">
        <div class="container">
            <h4 class="title"><i>{{subcategoria.nombre }} </i></h4>
            <div id="popularposts" class="owl-carousel recent-blog-items">
               
                {% if subcategoria.productos  %}
                    {% set productos = subcategoria.productos  %}
               
                    {% for productos in productos %}
                   
                        {%  set fotos =  productos.fotoproducto %}
                        {% for fotos in fotos %}
                            <div class="recent-blog-item">
                                <div class="blog-media">
                                    <div class="he-wrap tpl6 market-item">

                                      <a target="_parent" href="{{ path('home_productosSolo' ,  { 'id' : productos.id })}}">


                                        <img src="{{ web_image("producto/"~productos.id~"/"~fotos.url ).resize(600,410)  }}" alt="">

                                        </a>


                                    </div><!-- he wrap -->
                                </div>
                            </div><!-- recent-blog-item -->
                        {% endfor %}
                    {% endfor %}
                {% endif %}

            </div><!-- recent-portfolio-items -->
        </div><!-- end container -->
    </section><!-- end section3 -->


    {% block javascriptPaginas %}


        <script type="text/javascript">
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    items: 3,
                    lazyLoad: true,
                    navigation: false
                });

            });
        </script>



    {% endblock %}




{% endblock %}




