{# empty Twig template #}
{% extends "MediadivpaginasBundle:layers:base.html.twig" %}
{% block contenedor %}



    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('home')}}">Home</a></li>
                    <li><a href="{{path('home_tiendas')}}"> Tiendas </a></li>
                    <li>{{ tienda.sucursal}} </a></li>

                </ul>
                <h2>{{ tienda.sucursal }}</h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section class="section1">
        <div class="container">
            

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div style="background-color: #ebebeb;width: 100%;height: 240px;margin: 0;padding: 0;"  id="map-canvas-{{tienda.id}}"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="title"><i>{{ tienda.sucursal }}</i></h4>
                    <ul class="contact_details">
                        <li><i class="fa fa-home"></i> {{ tienda.direccion}}</li>
                        <li><i class="fa fa-home"></i> {{ tienda.horarios }}</li>
                        <li><i class="fa fa-phone-square"></i> {{ tienda.telefonos }}</li>
                        <li><i class="fa fa-envelope-o"></i> {{ tienda.email }}</li>                       
                    </ul><!-- contact_details -->
                    
                </div>

            
        </div><!-- end container -->
    </section><!-- end section3 --> 

    <section class="slideshow-wrapper">
        <div id="slider-wrapper">
            <div id="layerslider" style="width:100%;height: 500px;">




                <div class="ls-slide" data-ls="">
                    <img src="{{ web_image("tiendas/"~tienda.id~"/"~tienda.url1 ).resize('100%')  }}" class="ls-bg" alt="Slide background"/>
                </div><!-- end slide -->

              

            </div><!-- layer slider -->
        </div><!-- slider wrapper -->
    </section><!-- end slideshow-wrapper -->




    {% block javascriptPaginas %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
       
        <script type="text/javascript" >       
            var map{{tienda.id}};
            function initialize() {
                var Latitud{{tienda.id}} = new google.maps.LatLng({{tienda.latitud}}, {{tienda.longitud }});

                var mapOptions{{tienda.id}} = {
                    zoom: 15,
                    center: Latitud{{tienda.id}}
                }


                var map{{tienda.id}} = new google.maps.Map(document.getElementById('map-canvas-{{tienda.id}}'), mapOptions{{tienda.id}});

                var marker{{tienda.id}} = new google.maps.Marker({
                    position: Latitud{{tienda.id}},
                    map: map{{tienda.id}},
                    title: '{{tienda.sucursal}}'
                });
             };
             
             google.maps.event.addDomListener(window, 'load', initialize);
        
        </script>

        <script type="text/javascript">
                    $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    items: 3,
                    lazyLoad: true,
                    navigation: false
                });

            });
        </script>


        <script type="text/javascript">
            jQuery("#layerslider").layerSlider({
                pauseOnHover: false,
                autoPlayVideos: false,
                responsive: false,
                responsiveUnder: 1280,
                layersContainer: 1280,
                navButtons: false,
                hoverBottomNav: true,
                navStartStop: false,
                skin: 'v5'

            });
        </script>




    {% endblock %}
    
{% endblock %}