{% extends "MediadivCarritosBundle:layers:base.html.twig" %}
{% block contenedor %}


    <section class="post-wrapper-top">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li><a href="#">Producto</a></li>
                    <li></li>
                </ul>
                <h2></h2>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->


    <section class="section1">
        <div class="container">
            <h4 class="title"><i> </i></h4>
            <div id="popularposts" class="owl-carousel recent-blog-items">
               
            </div><!-- recent-portfolio-items -->
        </div><!-- end container -->
    </section><!-- end section3 -->


    



{% endblock %}