{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('tiendas')}}">
                Tiendas
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('tiendas')}}">
                Listar tiendas
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Editar tienda</h1>

    {{ form(edit_form) }}

{% endblock %}
