{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('tiendas')}}">
                Tiendas
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('tiendas_new')}}">
                Crear una nueva tienda
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Tiendas:</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Sucursal</th>
                <th>Direccion</th>
                <th>Fechaingreso</th>
                <th>Fotos</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.sucursal }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <img src="../../tiendas/{{entity.id}}/{{entity.url1}}" alt="" height="100" width="100">
                </td>
                <td>{{ entity.latitud }}</td>
                <td>{{ entity.longitud }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('tiendas_edit', { 'id': entity.id }) }}">edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{path('tiendas_eliminarTienda', { 'id': entity.id })}}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
             <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('tienda')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
    {% endblock %}
