{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('productos') }}">
        Producto
    </a>
{% endblock %}
{% block hijo %} 
    <a href="{{ path('productos') }}">
        Listar Producto
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Editar Producto</h1>
    <form action="{{path('productos_update', {'id' : entity.id})}}" method="POST">
        <div rol="form">
            <div class="form-group">
                <label for="nombreProducto" class="control-label">
                    Nombre:
                </label>
                <input name="nombreProducto" type="text" class="form-control" value="{{entity.nombre}}">
            </div>

            <div class="form-group">
                <label for="descripcionProducto" class="control-label">
                    Descripción:
                </label>
                <textarea name="descripcionProducto" id="descripcionProducto" class="jqte-test" cols="30" rows="10">{{entity.descripcion}}</textarea>
            </div>
            <div class="form-group">
                <label for="descripcionCortaProducto" class="control-label">
                    Unidades por pack:
                </label>
                <input name="unidadesPackProducto" type="text" class="form-control" value="{{entity.unidadPorPack}}">
            </div>
            <div class="form-group">
                <label for="descripcionCortaProducto" class="control-label">
                    Material:
                </label>
                <input name="materialProducto" type="text" class="form-control" value="{{entity.material}}">
            </div>
            <div class="form-group">
                <label for="tallaProducto" class="control-label">
                    Talla:
                </label>
                <input name="tallaProducto" type="text" class="form-control" value="{{entity.talla}}">
            </div>
            <div class="form-group">
                <label for="cuidadoProducto" class="control-label">
                    Cuidado:
                </label>
                <textarea name="cuidadoProducto" id="cuidadoProducto" class="jqte-test" cols="30" rows="10">{{entity.cuidado}}</textarea>
            </div>
            <div class="form-group">
                <label for="stockProducto" class="control-label">
                    Stock:
                </label>
                <input name="stockProducto" type="text" class="form-control" value="{{entity.stock}}">
            </div>
            <div class="form-group">
                <label for="estadoProducto" class="control-label">
                    Estado:
                </label>
                <select name="estadoProducto" class="form-control">
                    <option>-- Seleccione Un estado --</option>
                    {% if entity.estado == "activado" %}
                        <option selected value="activado">Activado</option>
                        <option value="desactivado">Desactivado</option>
                    {% elseif entity.estado == "desactivado" %}
                        <option value="activado">Activado</option>
                        <option selected value="desactivado">Desactivado</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elegir Categoría:
                </label>
                <select name="categoriaProducto" id="categoriaProducto" class="form-control">
                    {% if  entity.subcategorias ? entity.subcategorias.categorias %}
                        <option value="{{entity.subcategorias.categorias.id}}"  >{{entity.subcategorias.categorias.nombre}}</option>
                    {% else %}
                        <option> -- Seleccione una categoria --</option> 
                    {% endif %}
                    {% for categoria in categoria %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elejir Subtac:
                </label>
                <select name="SubCategoriaProducto" id="subcategoriaProducto" class="form-control">}
                    <option value="{{entity.subcategorias.id}}"  >{{entity.subcategorias.nombre}}</option>

                </select>
            </div>
            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elejir Calce:
                </label>
                <select name="calceProducto" id="calceProducto" class="form-control">
                    {% if entity.calce %}
                        <option value="{{entity.calce.id}}" >{{entity.calce.nombre}}</option>
                    {% else %}
                        <option> -- seleccione un calce -- </option>
                    {% endif %}
                    {% for calce in calce %}
                        <option value="{{calce.id}}">{{calce.nombre}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elejir SubCalce:
                </label>
                <select name="subcalce" id="subcalce" class="form-control">
                    {% if entity.subcalce %}
                
                <option value="{{entity.subcalce.id}}" >{{entity.subcalce.nombre}}</option>

                    {% else %}

                    <option>-- Seleccione un Calce --</option>
                   
                    {% endif %}
                </select>
            </div>



            <div class="form-group">
                <input type="submit" name="guardarProducto" class="btn btn-success" value="Siguiente"/>
            </div>
        </div>
    </form>


    <!-- Tabla con fotos -->
    <table id="fotoProducto">
        <thead>
        <th>Fotos: </th>
    </thead>
    <tbody>

        {% if entity.fotoproducto %}
            {% set fotos = entity.fotoproducto %}
            {% for foto in fotos %}
                <tr id="foto-{{foto.id}}">
                    <td>
                        <img src="../../../producto/{{entity.id}}/{{foto.url}}" width="100" height="100"/>
                        <br>
                        <br>
                        <br>
                        <a id="fotoProducto-{{foto.id}}" class="eliminar">
                            <button class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}    
        {% endif %}

    </tbody>
</table>
<!-- Tabla con fotos -->
<!-- Formulario Action elimina foto Campania. -->
<form id="formEliminaFotoProducto" action="{{path('productos_elminaFotoProducto')}}"></form>
<!-- Formulario Action elimina foto Campania. -->
<!-- js Elimina producto -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#fotoProducto").on('click', '.eliminar', function () {

            var clickedID = this.id.split('-');
            var DbNumberID = clickedID[1]; // toma el numero del array
            var myData = 'recordToDelete=' + DbNumberID;

            $.ajax({
                type: "POST",
                url: $('#formEliminaFotoProducto').attr('action'),
                dataType: "text",
                data: myData,
                success: function (response) {
                    $('#foto-' + DbNumberID).hide('slow');
                    ;

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });

        });

        $(function () {
            $("#categoriaProducto").change(function () {
                var data = {
                    categoria_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("selectSubCategoria") }}',
                    data: data,
                    success: function (data) {
                        $('#subcategoriaProducto').empty();

                        var $province_selector = $('#subcategoriaProducto');

                        $province_selector.append(data);

                    }
                });
            });
        });
    });
</script>




<script type="text/javascript">



        $(function() {
            $("#calceProducto").change(function() {
                var data = {
                    categoria_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("selectSubCalce") }}',
                    data: data,
                    success: function(data) {
                        $('#subcalce').empty();

                        var $province_selector = $('#subcalce');

                        $province_selector.append(data);

                    }
                });
            });
        });
    </script>

<!-- js Elimina producto -->
{% endblock %}
