{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('productos') }}">
        Productos
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('productos_vistaGuardarProducto') }}">
        Agregar un nuevo producto
    </a>
{% endblock %}
{% block cuerpoadmin %}



    <h1>Productos:</h1>

    <table class="records_list">
        <thead>
            
            <tr>
                <th>Nombre</th>
       
                <th>Material</th>
                 
                <th>Linea</th>   
                <th>Calce</th>
       
      
         
                <th>Foto Producto</th>
       
     
                <th>Editar / Eliminar</th>
            </tr>

        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
       
                
                    <td>{{ entity.material }}</td>
                  
                    <td>{% if entity.subcategorias %} {{ entity.subcategorias.categorias.nombre}} {% endif %} </td>
                    <td>{% if entity.calce %} {{ entity.calce.nombre}} {% endif %}</td>
                    
     
          
            
                    <td>
                        {% if entity.fotoproducto %}
                            {% set foto = entity.fotoproducto %}
                            {% for foto in foto %}
                                <img src="{{ web_image("producto/"~entity.id~"/"~foto.url).resize('20%')  }}"  width="100" height="100">



                            {% endfor %}    
                        {% endif %}
                    </td>
                  
                
                    <td>
                        <a class="btn btn-primary" href="{{ path('productos_edit', { 'id': entity.id }) }}">Editar</a>
               
                        <a class="btn btn-danger" href="{{path('productos_eliminarProducto', { 'id': entity.id })}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}



        </tbody>
    </table>

  


  <script src="{{asset('bundles/mediadivadmin/js/jquery.dataTables.js')}}"></script>
  <script src="{{asset('bundles/mediadivadmin/js/jquery.dataTables.columnFilter.js')}}"></script>
    <script>
  
                $(document).ready(function () {

            $('.records_list').dataTable()
                    .columnFilter({sPlaceHolder: "head:after",
                        aoColumns: [
                            {type: "text"},
                            {type: "text"},
                            {type: "text"}
                         
                        ]
                    });
        });
    </script>

    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('producto')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>


    {% endfor %}
    <!-- Mensajes exitosos. -->
{% endblock %}
