{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('productos') }}">
                Productos
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('productos') }}">
                Ver Productos
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <a class="btn btn-default" href="{{ path('productos') }}">
           Ver Productos
    </a>
    
    <h1>Agregar un nuevo producto: </h1>

    {{ form(form) }}

{% endblock %}
