{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('productos') }}">
        Productos
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('productos') }}">
        Ver Productos
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <form action="{{path('productos_guardarProductos')}}" method="POST">
        <div rol="form">
            <div class="form-group">
                <label for="nombreProducto" class="control-label">
                    Nombre:
                </label>
                <input name="nombreProducto" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="descripcionProducto" class="control-label">
                    Descripción:
                </label>
                <textarea name="descripcionProducto" id="descripcionProducto" class="jqte-test" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="descripcionCortaProducto" class="control-label">
                    Unidades por pack:
                </label>
                <input name="unidadesPackProducto" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="descripcionCortaProducto" class="control-label">
                    Material:
                </label>
                <input name="materialProducto" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="tallaProducto" class="control-label">
                    Talla:
                </label>
                <input name="tallaProducto" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="cuidadoProducto" class="control-label">
                    Cuidado:
                </label>
                <textarea name="cuidadoProducto" id="cuidadoProducto" class="jqte-test" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="stockProducto" class="control-label">
                    Stock:
                </label>
                <input name="stockProducto" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="estadoProducto" class="control-label">
                    Estado:
                </label>
                <select name="estadoProducto" class="form-control">
                    <option>-- Seleccione Un estado --</option>
                    <option value="activado">Activado</option>
                    <option value="desactivado">Desactivado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elegir Categoría:
                </label>
                <select name="categoriaProducto" id="categoriaProducto" class="form-control">
                    <option>-- Seleccione una categoría --</option>
                    {% for categoria in categoria %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elejir Subtac:
                </label>
                <select name="SubCategoriaProducto" id="subcategoriaProducto" class="form-control">
                    <option>-- Seleccione una Sub Categoría --</option>

                </select>
            </div>

            
            <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elejir Calce:
                </label>
                <select name="calceProducto" id="calceProducto" class="form-control">
                    <option>-- Seleccione un Calce --</option>
                    {% for calce in calce %}
                        <option value="{{calce.id}}">{{calce.nombre}}</option>
                    {% endfor %}
                </select>
            </div>

          

         <div class="form-group">
                <label for="categoriaProducto" class="control-label">
                    Elejir SubCalce:
                </label>
                <select name="subcalce" id="subcalce" class="form-control">
                    <option>-- Seleccione un Calce --</option>
                   
                </select>
            </div>

             <div class="form-group">
                <input type="submit" name="guardarProducto" class="btn btn-success" value="Siguiente"/>
            </div>
        </div>


    </form>
    <!-- Select anidado -->


    <script type="text/javascript">



        $(function() {
            $("#calceProducto").change(function() {
                var data = {
                    categoria_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("selectSubCalce") }}',
                    data: data,
                    success: function(data) {
                        $('#subcalce').empty();

                        var $province_selector = $('#subcalce');

                        $province_selector.append(data);

                    }
                });
            });
        });
    </script>



    <script type="text/javascript">



        $(function() {
            $("#categoriaProducto").change(function() {
                var data = {
                    categoria_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("selectSubCategoria") }}',
                    data: data,
                    success: function(data) {
                        $('#subcategoriaProducto').empty();

                        var $province_selector = $('#subcategoriaProducto');

                        $province_selector.append(data);

                    }
                });
            });
        });
    </script>
{% endblock %}