{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('admin_linea') }}">
        Linea
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_linea') }}">
        Linea
    </a>
{% endblock %}
{% block cuerpoadmin %}

    <h1>Linea edit</h1>

    {{ form(edit_form) }}
{% endblock %}
