{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('admin_calce') }}">
        Listar   Linea
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_linea_new') }}">
        Crear Linea
    </a>
{% endblock %}
{% block cuerpoadmin %}

    <h1>Lineas: </h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Novedad</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>

                    <td>{{ entity.novedad }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_linea_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{path('admin_linea_eliminarLinea', {'id': entity.id})}}">Eliminar</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('linea')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
{% endblock %}
