{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('admin_linea') }}">
        Linea
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_linea') }}">
        Listar Linea
    </a>
{% endblock %}

{% block cuerpoadmin %}

    <h1>Crear Linea</h1>

    {{ form(form) }}

{% endblock %}
