{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('admin_subcategorias') }}">
            SubCategoria
        </a>
{% endblock %}
{% block hijo %} 
        <a href="{{ path('admin_subcategorias') }}">
            Listar   SubCategorias
        </a>
{% endblock %}

{% block cuerpoadmin %}


    <h1>Editar  SubCategorias </h1>

    {{ form(edit_form) }}
{% endblock %}
