{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('admin_subcategorias') }}">
        SubCategorias
    </a>
{% endblock %}
{% block hijo %} 
    <a href="{{ path('admin_subcategorias_new') }}">
        Crear SubCategoria
    </a>
{% endblock %}

{% block cuerpoadmin %}
    <h1>Listar  SubCategorias </h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Novedad</th>
                <th>Eliminar / Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity.nombre %} {{ entity.nombre }} {% endif %}</td>
                    <td>{% if entity.categorias %} {{entity.categorias.nombre }}  {% endif %}</td>
                    <td>{{entity.novedad}} </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_subcategorias_edit', { 'id': entity.id }) }}">Editar</a>
          
                        <a class="btn btn-danger" href="{{path('admin_eliminarSubCategoria', { 'id': entity.id })}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




    <script>
        $(document).ready(function () {
            $('.records_list').dataTable()
                    .columnFilter({sPlaceHolder: "head:after",
                        aoColumns: [
                            {type: "text"},
                            {type: "text"}
                 
                         
                        ]
                    });
        });
    </script>


    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('subcategoria')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
{% endblock %}
