{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('admin_subcategorias') }}">
            SubCategorias
        </a>
{% endblock %}
{% block hijo %} 
        <a href="{{ path('admin_subcategorias') }}">
            Listar  SubCategorias
        </a>
{% endblock %}

{% block cuerpoadmin %}
    <h1>Crear SubCategorias:</h1>

    {{ form(form) }}
{% endblock %}
