{% extends 'MediadivTestBundle:Layer:base.html.twig' %}

{% block  contenido %}
    <h1>TestSort creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('test_testsort') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
