{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('admin_tag') }}">
                Tag
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_tag_new') }}">
                Crear Tag
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Tag's</h1>
    <table class="records_list">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_tag_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{path('admin_tag_eliminarTag', { 'id': entity.id})}}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('tag')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
    {% endblock %}
