{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('admin_tag') }}">
                Tag
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_tag') }}">
                Listar Tag
    </a>
{% endblock %}
{% block cuerpoadmin %}
    {{ form(form) }}
{% endblock %}
