{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('categorias') }}">
                Categorias
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('categorias') }}">
                Ver Categorias
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Editar Categoria:</h1>

    {{ form(edit_form) }}


{% endblock %}
