{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('categorias') }}">
        Categorias
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('categorias_new') }}">
        Agregar nueva categoria
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Listar Categorías</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
          
        
                <th>Eliminar / Editar </th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>

                    <td>
           
                        <a class="btn btn-primary" href="{{ path('categorias_edit', { 'id': entity.id }) }}">Editar</a>
                    
                        <a class="btn btn-danger" href="{{path('categorias_eliminarCategoria', { 'id': entity.id })}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


  <script src="{{asset('bundles/mediadivadmin/js/jquery.dataTables.js')}}"></script>
  <script src="{{asset('bundles/mediadivadmin/js/jquery.dataTables.columnFilter.js')}}"></script>

  

      <script>
        $(document).ready(function () {
            $('.records_list').dataTable()
                    .columnFilter({sPlaceHolder: "head:after",
                        aoColumns: [
                            {type: "text"},
                            {type: "text"}
                         
                        ]
                    });
        });
    </script>



    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('categoria')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
{% endblock %}
