{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('categorias') }}">
                Categorias
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('categorias') }}">
                Ver Categorias
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>Agregar una nueva categoría:</h1>
    <br>
    <br>
    {{ form(form) }}
{% endblock %}
