{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('campania') }}">
                campaña
        </a>
{% endblock %}
{% block hijo %} 
        <a href="{{ path('campania') }}">
                Listar Campañas
        </a>
    {% endblock %}
{% block cuerpoadmin %}
    <h1>Editar Campaña:</h1>
    {{ form(edit_form) }}
    <br>
    <br>
    <br>
    <!-- Tabla con fotos -->
    <table id="fotoCampania">
        <thead>
            <th>Fotos: </th>
        </thead>
        <tbody>
                {% if entity.fotocampania %}
                    {% set fotos = entity.fotocampania %}
                    {% for foto in fotos %}
                    <tr id="foto-{{foto.id}}">
                        <td>
                            <img src="../../../campanias/{{entity.id}}/{{foto.url}}" width="100" height="100"/>
                            <br>
                            <br>
                            <br>
                            <a id="fotoCampania-{{foto.id}}" class="eliminar">
                                <button class="btn btn-danger">Eliminar</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}    
                {% endif %}
           
        </tbody>
    </table>
    <!-- Tabla con fotos -->
    <!-- Formulario Action elimina foto Campania. -->
    <form id="formEliminaFotoCampania" action="{{path('campania_elminaFotoCompania')}}"></form>
    <!-- Formulario Action elimina foto Campania. -->
    <!-- js Elimina producto -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#fotoCampania").on('click', '.eliminar', function(){
                
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                $.ajax({
                    type: "POST",
                    url: $('#formEliminaFotoCampania').attr('action'),
                    dataType: "text",
                    data: myData,
                    success: function(response) {
                      $('#foto-' + DbNumberID).hide('slow');;

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
                
            });
        });
    </script>
    <!-- js Elimina producto -->
    
{% endblock %}
