{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('campania') }}">
                campaña
        </a>
{% endblock %}
{% block hijo %} 
        <a href="{{ path('campania_new') }}">
                Crear nueva campaña
        </a>
{% endblock %}
{% block cuerpoadmin %}
    
    
    
    <h1>Todas las Campañas</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
            
                <th>Titulo</th>
                <th>Foto</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
           
                <td>{{ entity.titulo }}</td>
                <td>
                    {% if entity.fotocampania %}
                        {% set foto = entity.fotocampania %}
                        {% for foto in foto %}


                            <img src="{{ web_image("campanias/"~entity.id~"/"~foto.url).resize('20%')  }}" >

                        {% endfor %}
                    {% endif%}
                </td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('campania_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{path('campania_eliminarCampania', { 'id': entity.id })}}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('campaña')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function() {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->


    
    {% endblock %}
