{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
        <a href="{{ path('campania') }}">
                campaña
        </a>
{% endblock %}
{% block hijo %} 
        <a href="{{ path('campania') }}">
                Listar Campañas
        </a>
    {% endblock %}
{% block cuerpoadmin %}
    <h1>Crear una nueva campaña</h1>

    {{ form(form) }}


 <script>

 $('document').ready(function(){




   $("#mediadiv_adminbundle_campania_tipo").change(function() {
                var data = $(this).val();


                console.log(data);

                if(data == 'video' ){


$('#mediadiv_adminbundle_campania_url').show('fast');


                }

                if(data == 'fotografias' ){




 	$('#mediadiv_adminbundle_campania_url').show('fast');



                }

        });






 });



 </script>
{% endblock %}
