{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %} 
    <a href="{{ path('campania') }}">
        campaña
    </a>
{% endblock %}
{% block hijo %} 
    <a href="{{ path('campania') }}">
        Listar Campañas
    </a>
{% endblock %}
{% block cuerpoadmin %}

    <h1>Agregar imagen para Campaña Slider / 3005x836 </h1>
    <br>

    <div id="uploader" style="width:900px;height:200px;margin-top: 80px;">

    </div>
    <br>
    <br>
    <br>
    <h1>Agregar background para Campaña / 1425x368px: </h1>
    <br>

    <div id="uploaderBakcground" style="width:900px;height:200px;margin-top: 80px;">

    </div>

    <br>
    <br>
    <br>
    <h1>Agregar imagen para Campaña Home  / 600x410 : </h1>
    <br>

    <div id="uploaderHome" style="width:900px;height:200px;margin-top: 80px;">

    </div>
    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('campaña')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
    <script type="text/javascript">

        $('document').ready(function () {

            $(function () {
                $("#uploader").plupload({
                    // General settings


                    runtimes: 'html5,flash',
                    url: "{{path('campania_uploadCampania')}}",
                    max_file_size: '90000kb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size: '3mb',
                    autostart: true,
                    rename: true,
                    multiple_queues: true,
                    // Rename files by clicking on their titles
                    rename: true,
                            // Sort files
                            sortable: true,
                    // Specify what files to browse for
                    filters: [
                        {title: "Image files", extensions: "jpg,png,jpeg"}

                    ],
                    // Flash settings
                    flash_swf_url: "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",
                    // Silverlight settings
                    silverlight_xap_url: "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                });



                // Client side form validation
                $('#uploader').submit(function (e) {

                    var uploader = $('#uploader').plupload('getUploader');



                    // Files in queue upload them first
                    if (uploader.files.length > 0) {
                        // When all files are uploaded submit form
                        uploader.bind('StateChanged', function () {
                            if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                $('form')[0].submit();

                            }
                        });

                        uploader.start();


                    } else
                        alert('You must at least upload one file.');


                    return false;
                });


            });


            $(function () {
                $("#uploaderBakcground").plupload({
                    // General settings


                    runtimes: 'html5,flash',
                    url: "{{path('campania_uploadCampaniaBackground')}}",
                    max_file_size: '90000kb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size: '3mb',
                    autostart: true,
                    rename: true,
                    multiple_queues: true,
                    // Rename files by clicking on their titles
                    rename: true,
                            // Sort files
                            sortable: true,
                    // Specify what files to browse for
                    filters: [
                        {title: "Image files", extensions: "jpg,png,jpeg"}

                    ],
                    // Flash settings
                    flash_swf_url: "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",
                    // Silverlight settings
                    silverlight_xap_url: "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                });



                // Client side form validation
                $('#uploaderBakcground').submit(function (e) {

                    var uploader = $('#uploader').plupload('getUploader');



                    // Files in queue upload them first
                    if (uploader.files.length > 0) {
                        // When all files are uploaded submit form
                        uploader.bind('StateChanged', function () {
                            if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                $('form')[0].submit();

                            }
                        });

                        uploader.start();


                    } else
                        alert('You must at least upload one file.');


                    return false;
                });




            });

            $(function () {
                $("#uploaderHome").plupload({
                    // General settings


                    runtimes: 'html5,flash',
                    url: "{{path('campania_uploadCampaniaHome')}}",
                    max_file_size: '90000kb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size: '3mb',
                    autostart: true,
                    rename: true,
                    multiple_queues: true,
                    // Rename files by clicking on their titles
                    rename: true,
                            // Sort files
                            sortable: true,
                    // Specify what files to browse for
                    filters: [
                        {title: "Image files", extensions: "jpg,png,jpeg"}

                    ],
                    // Flash settings
                    flash_swf_url: "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",
                    // Silverlight settings
                    silverlight_xap_url: "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                });



                // Client side form validation
                $('#uploaderHome').submit(function (e) {

                    var uploader = $('#uploader').plupload('getUploader');



                    // Files in queue upload them first
                    if (uploader.files.length > 0) {
                        // When all files are uploaded submit form
                        uploader.bind('StateChanged', function () {
                            if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                $('form')[0].submit();

                            }
                        });

                        uploader.start();


                    } else
                        alert('You must at least upload one file.');


                    return false;
                });

            });

        });

    </script>

{% endblock %}

