{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('admin_subcalce') }}">
               Listar SubCalce
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_subcalce_new') }}">
              Nuevo SubCalce
    </a>
{% endblock %}
{% block cuerpoadmin %}


    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_subcalce_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        
               
                        <a    class="btn btn-primary" href="{{ path('admin_subcalce_edit', { 'id': entity.id }) }}">edit</a>
                        <a class="btn btn-danger" href="{{ path('admin_subcalce_delete', { 'id': entity.id }) }}">Eliminar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_subcalce_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
