{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('admin_subcalce') }}">
               Listar SubCalce
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('admin_subcalce_new') }}">
              Nuevo SubCalce
    </a>
{% endblock %}
{% block cuerpoadmin %}
    <h1>SubCalce creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_subcalce') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
