{% extends "MediadivadminBundle:Base:basePrincipal.html.twig" %}
{% block padre %}
    <a href="{{ path('slider') }}">
                Slider
    </a>
{% endblock %}
{% block hijo %}
    <a href="{{ path('slider_new') }}">
                Agregar Slider
    </a>
{% endblock %}
{% block cuerpoadmin %}


    <h1>SubCalce</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_subcalce') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_subcalce_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
