{% extends "MediadivadminBundle:Base:base.html.twig" %}
{% block principal %}
    <div id="cl-wrapper" class="login-container">
        <div class="middle-login">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center">Admin TopWear </h3>
                </div>
                <div>
                    <form style="margin-bottom: 0px !important;" class="form-horizontal"  id="loginForm" action="{{path('mediadivadmin_login')}}" method="post">
                        <div class="content">
                            <h4 class="title">Acceder </h4>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" placeholder="Usuario" name="nusuario" id="nusuario" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" placeholder="Password" id="contrasena" name="contrasena" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="foot">
                            <button class="btn btn-primary" data-dismiss="modal" type="submit" id="loginButton">Acceder </button>
                            <section id="respuesta">
                            </section>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2014 Mediadiv Ltda </a></div>
        </div>

    </div>

    <script>
        $('document').ready(function() {

            $("#loginButton").click(function(e) {
                e.preventDefault();
                var myData = 'nusuario=' + $("#nusuario").val()
                        + '&contrasena=' + $("#contrasena").val()
                        ;

                jQuery.ajax({
                    type: "POST", // metodo post o get
                    url: $("#loginForm").attr("action"),
                    dataType: "text", // tipo datos text o json etc
                    data: myData,
                    success: function(response) {
                        var respuesta = response;

                        if (respuesta == 200) {
                            window.location = "{{path('mediadivadmin_principal')}}";
                        } else {
                            alertify.error("Ingrese un usuario valido");
                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                });
            });
        });

    </script>

{% endblock %}