{% extends "MediadivadminBundle:Base:base.html.twig" %}
{% block principal %}
    {% include "MediadivadminBundle:Menu:menuHeader.html.twig" %}
    <div id="cl-wrapper">
    {% include "MediadivadminBundle:Menu:menuLateral.html.twig" %}
        <div class="container-fluid" id="pcont">
            <div class="page-head">
                <h2> {% block titulo %}{% endblock %}</h2>
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    <li>{% block padre %} {% endblock %}</li>
                    <li class="active">{% block hijo %} {% endblock %}</li>
                </ol>
            </div>
            <div class="cl-mcont">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">

                            {% block cuerpoadmin %}




                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}





