<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block titulo %}
                Administrador TopWear
            {% endblock %}
        </title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
        <!-- Bootstrap core CSS -->
        <style>
            .btn-default{
                margin-top: 2%;
                margin-left: -2%;
                position: relative;
                width: 200px;
            }

            .btn-success {
               width: 200px; 
              position: relative;
              margin-top: 20px;
              margin-left:-14%;

            }

            .jqte_tool_text {
                width:300px;
            }













            
        </style>
        <script src="{{asset('bundles/mediadivadmin/js/jquery.min.js')}}"></script>
      
        <script src="{{asset('bundles/mediadivadmin/js/jquery-te-1.4.0.min.js')}}"></script>

          <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mediadivadmin/css/jquery-te-1.4.0.css')}}" />
<script>

$.noConflict();
jQuery( document ).ready(function( $ ) {

    $('.jqte-test').jqte();

    });

 </script>




     

        <link href="{{ asset('bundles/mediadivadmin/js/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mediadivadmin/js/bootstrap.switch/bootstrap-switch.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mediadivadmin/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css')}}" />
        <!-- Select2 -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mediadivadmin/js/jquery.select2/select2.css')}}" />

        <!-- Slider -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mediadivadmin/js/bootstrap.slider/css/slider.css')}}" />

        <!-- Custom styles for this template -->

        <link href=" {{asset('bundles/mediadivadmin/css/style.css')}} " rel="stylesheet" />

        <link rel="stylesheet" href="{{asset('bundles/mediadivadmin/fonts/font-awesome-4/css/font-awesome.min.css')}} ">
        <link rel="stylesheet" href="{{asset('bundles/mediadivadmin/css/pygments.css')}}">

        <link href=" {{ asset('bundles/mediadivadmin/css/alertify.core.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/mediadivadmin/css/alertify.default.css') }}" id="toggleCSS" rel="stylesheet">

        <script src="{{ asset('bundles/mediadivadmin/js/alertify.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{asset('bundles/mediadivadmin/js/jquery.nanoscroller/nanoscroller.css')}} " />
        
        <!-- Uploader -->
        <link rel="stylesheet" href=" {{ asset('bundles/mediadivupload/upload/ui-lightness/jquery-ui-1.8.14.custom.css') }}" />

        <script src="{{ asset('bundles/mediadivupload/upload/jquery.js') }}"></script>

        <script src="{{asset('bundles/mediadivupload/upload/jquery-ui-1.8.14.custom.min.js') }}"></script>
        <link rel="stylesheet" href="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/css/jquery.ui.plupload.css')}}" type="text/css" />

        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.gears.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.silverlight.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.flash.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.browserplus.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html4.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html5.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/jquery.ui.plupload.js')}}"></script>

    </head>
    <body>
     

        <script src="{{asset('bundles/mediadivadmin/js/jquery.select2/select2.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/mediadivadmin/js/jquery.parsley/parsley.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/mediadivadmin/js/bootstrap.slider/js/bootstrap-slider.js')}}" type="text/javascript"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivadmin/js/jquery.nanoscroller/jquery.nanoscroller.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivadmin/js/jquery.nestable/jquery.nestable.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivadmin/js/behaviour/general.js')}}"></script>
        <script src="{{asset('bundles/mediadivadmin/js/jquery.ui/jquery-ui.js')}}" type="text/javascript"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivadmin/js/bootstrap.switch/bootstrap-switch.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/mediadivadmin/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
        <script src="{{asset('bundles/mediadivadmin/js/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                //initialize the javascript
                App.init();
            });
        </script>

           {% block principal %}
        {%  endblock %}



    </body>
</html>