{# empty Twig template #}
<div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <ul class="cl-vnavigation">
            <li><a href=""><i class="fa fa-home"></i>Principal</a></li>
            </li>
            <li><a href="#"><i class="fa fa-list-alt"></i>Categorias</a>
                <ul class="sub-menu">
                    <li><a href="{{path('categorias_new')}}">Agregar Categorías</a></li>
                    <li><a href="{{path('categorias')}}">Listar Categorías / Editar /  Eliminar</a></li>
                </ul>
            </li>



           <li><a href="#"><i class="fa fa-list-alt"></i>SubCategorias</a>
                <ul class="sub-menu">
                    <li><a href="{{path('admin_subcategorias_new')}}">Agregar SubCategorias</a></li>
                    <li><a href="{{path('admin_subcategorias')}}">Listar Categorías / Editar /  Eliminar</a></li>
                    <li><a href="{{path('admin_tag_new')}}">Agregar Tag</a><li>
                    <li><a href="{{path('admin_tag')}}">Listar Categorías / Editar /  Eliminar</a></li>
                </ul>
            </li>

            





            <li><a href="#"><i class="fa fa-list-alt"></i>Calce</a>
                <ul class="sub-menu">
                    <li><a href="{{path('admin_calce_new')}}">Agregar Calce</a></li>
                    <li><a href="{{path('admin_calce')}}">Listar Calces / Editar /  Eliminar</a></li>
                </ul>
            </li>



            <li><a href="#"><i class="fa fa-list-alt"></i>SubCalce</a>
                <ul class="sub-menu">
                    <li><a href="{{path('admin_subcalce_new')}}">Agregar SubCalce</a></li>
                    <li><a href="{{path('admin_subcalce')}}">Listar SubCalce / Editar /  Eliminar</a></li>
                </ul>
            </li>






           
            <li><a href="#"><i class="fa fa-list-alt"></i>Productos</a>
                <ul class="sub-menu">
                    <li><a href="{{path('productos_vistaGuardarProducto')}}">Agregar Productos</a></li>
                    <li><a href="{{path('productos')}}">Listar Productos / Editar /  Eliminar</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-list-alt"></i>Campañas</a>
                <ul class="sub-menu">
                    <li><a href="{{path('campania_new')}}">Agregar  Campañas</a></li>
                    <li><a href="{{path('campania')}}">Listar Campañas / Editar /  Eliminar</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-list-alt"></i>Slider's</a>
                <ul class="sub-menu">
                    <li><a href="{{path('slider_new')}}">Agregar  Slider</a></li>
                    <li><a href="{{path('slider')}}">Listar Slider's / Editar /  Eliminar</a></li>
                </ul>
            </li>




            
            <li><a href="#"><i class="fa fa-list-alt"></i>Tiendas</a>
                <ul class="sub-menu">
                    <li><a href="{{path('tiendas_new')}}">Agregar  Tiendas</a></li>
                    <li><a href="{{path('tiendas')}}">Listar Tiendas / Editar /  Eliminar</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
